[Unit]
Description=pufferd daemon service

[Service]
Type=simple
WorkingDirectory=/srv/pufferd
ExecStart=/srv/pufferd/pufferd --config /etc/pufferd/config.json
User=pufferd
Group=pufferd

[Install]
WantedBy=multi-user.target